<header class="header">
    <div class="nav">
        <div class="logo">
            <a href="/front">
                <img src="@{/img/init.png}" data-th-src="@{/img/index/header/logo_zc.png}" alt="">
            </a>
        </div>
        <div class="nav_menu">
            <span class="nav_line"></span>
            <ul class="nav_item" data-nav="item">
                <li>
                    <a href="/front" class="nav_items">首页</a>
                </li>
            </ul>
            <ul class="nav_item" data-nav="item">
                <li>
                    <a href="/front/search" class="nav_items">智创投资</a>
                </li>
            </ul>
            <ul class="nav_item" data-nav="item">
                <li>
                    <a href="/front/newbie" class="nav_items">新手引导</a>
                </li>
            </ul>
            <ul class="nav_item" data-nav="item">
                <li>
                    <a href="/front/info" class="nav_items">信息披露</a>
                </li>
            </ul>
            <ul class="nav_item" data-nav="item">
                <li>
                    <a href="#" class="nav_items">智创社区</a>
                </li>
            </ul>
        </div>
        <div class="search">
            <div class="s_input" id="search">
                <input maxlength="25" data-search="text" type="text" placeholder="请您输入要搜索的内容"/>
            </div>
            <div class="s_icon"  data-search="icon">
                <img src="@{/img/init.png}" data-th-src="@{/img/index/header/search.png}" alt=""/>
            </div>
        </div>
        <div class="user">
            <div class="login ">
                <a data-user="login" href="/front/login">登录</a>
                <span>|</span>
                <a data-user="register" href="/front/register">注册</a>
            </div>
            <div class="logout u_blank">
                <span data-user="uname">dingding</span>
                <span>|</span>
                <a data-user="logout" href="#">注销</a>
            </div>
            <div class="shoping_cart_icon" data-cart="icon">

            </div>
        </div>
        <!--<div class="shoping_cart" data-cart="content">-->
            <!--<div class="cart_menu" data-cart="items">-->
                <!--<div class="pro_img">-->
                    <!--<img src="@{/img/init.png}" data-th-src="@{/img/index/header/pro_11.jpg}" alt=""/>-->
                <!--</div>-->
                <!--<div class="pro_name">-->
                    <!--佳能（Canon）5D 单反套机-->
                <!--</div>-->
                <!--<div class="pro_price_count">-->
                    <!--24998元 &times; 1-->
                <!--</div>-->
                <!--<div class="pro_del">-->
                    <!--删除-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="cart_menu" data-cart="items">-->
                <!--<div class="pro_img">-->
                    <!--<img src="@{/img/init.png}" data-th-src="@{/img/index/header/hp_08.jpg}" alt=""/>-->
                <!--</div>-->
                <!--<div class="pro_name">-->
                    <!--惠普 薄锐 13.3 英寸笔记本-->
                <!--</div>-->
                <!--<div class="pro_price_count">-->
                    <!--5979元 &times; 1-->
                <!--</div>-->
                <!--<div class="pro_del">-->
                    <!--删除-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="payment">-->
                <!--<div class="total">-->
                    <!--<p>共 2 件商品</p>-->
                    <!--<p>30997 元</p>-->
                <!--</div>-->
                <!--<div class="pay_submit" data-cart="pay">-->
                    <!--去结算-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    </div>
</header>