<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>智创——信息披露</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/index.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/nwd_common.css}">
    <link rel="stylesheet" th:href="@{/css/disclosureCommon.css}" type="text/css">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/zc.ico}"/>
</head>
<body>
<div id="main">
    <div data-th-include="front/header" id="header"></div>
    <div class="dicHead">
        <a href="" class="first">信息披露</a>
    </div>
    <div class="dicMain">
        <div class="dicContain clearfix">
            <div class="dicNav">
                <a href="#">基本信息</a>
                <a href="#">治理信息</a>
                <a href="#">平台信息</a>
                <a href="#">数据披露</a>
                <a href="#">运营报告</a>
                <a href="#">备案信息</a>
                <a href="#">风控管理</a>
                <a href="#">资金存管</a>
                <a href="#">审计信息</a>
                <a href="#">风险保障计划</a>
                <a href="#">政策法规</a>
                <a href="#">重大事项</a>
                <a href="#">反欺诈公告</a>
            </div>
            <div class="dicWrap">
                <div class="dicWrapTit"><span>基本信息</span><s class="line"></s></div>
                <table class="tableInfo">
                    <tbody><tr><td class="td1">从业机构中文名称</td><td class="td2">智创互联网金融信息服务有限公司</td></tr>
                    <tr><td class="td1">从业机构简称</td><td class="td2">智创</td></tr>
                    <tr><td class="td1">法定代表人</td><td class="td2">张宏飞</td></tr>
                    <tr><td class="td1">实际控制人</td><td class="td2">张宏飞</td></tr>
                    <tr><td class="td1">注册资本（万元）</td><td class="td2">10,000</td></tr>
                    <tr><td class="td1">实缴资本（万元）</td><td class="td2">10,000</td></tr>
                    <tr><td class="td1">统一社会信用代码</td><td class="td2">91310000123456789B</td></tr>
                    <tr><td class="td1">注册具体地址</td><td class="td2">天津市西青区津静路22号</td></tr>
                    <tr><td class="td1">经营地址</td><td class="td2">天津市西青区津静路22号</td></tr>
                    <tr><td class="td1">成立时间</td><td class="td2">2019-02-04</td></tr>
                    <tr><td class="td1">经营期限</td><td class="td2"> 2019年02月04日--2045年09月28日</td></tr>
                    <tr><td class="td1">经营状态</td><td class="td2">存续（在营、开业、在册）</td></tr>
                    <tr><td class="td1">经营范围</td><td class="td2">  接受金融机构委托从事金融知识流程外包、金融业务流程外包、金融信息技术外包，金融信息服务（除金融业务），云计算、网络技术、通讯技术、计算机技术领域内的技术开发、技术转让、技术咨询、技术服务，数据模型软件、计算机软硬件、自动化设备的开发、销售，自有设备租赁（除金融租赁），系统集成，数据处理服务，网络工程，网络运行维护，商务咨询，出借咨询；设计、制作、发布各类广告。 【依法须经批准的项目，经相关部门批准后方可开展经营活动】
                    </td></tr>
                    <tr><td class="td1">分支机构</td><td class="td2">无</td></tr>
                    </tbody></table>
            </div>
        </div>
    </div>
    <div data-th-include="front/footer" id="footer"></div>
</div>
<script data-th-src="@{/js/jquery-3.2.1.js}"></script>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/base.js}"></script>
<script data-th-src="@{/js/index.js}"></script>
</body>
</html>