<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="zh-CN">
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>智创——智创投资</title>
    <link rel="stylesheet" th:href="@{/css/base.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/product_search.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="shortcut icon" type="image/png" th:href="@{/img/zc.ico}"/>
</head>

<body>
<div id="main">
    <div data-th-include="front/header" id="header"></div>
    <div id="container">
        <div class="loc">
				<span>
					<a href="index.html">首页</a>
				</span>
            >
            <span>
					<a href="product_search.html">所有商品</a>
				</span>
        </div>
        <div class="order">
            <div class="order_items" data-order="items">
					<span class="order_bg">
						推荐</span><span>
						新品</span><span class="default" data-order="price">
						价格</span><span>
						销量</span>
            </div>
            <div class="isShow_pro">
                <span class="show_lable" data-active="on_off">只显示有货</span>
                <span class="on_off" data-active="on_off" data-class="on_off">
						<i class="show_icon"></i>
					</span>
            </div>
            <div class="pro_count">
                共有 <b>8</b> 个商品
            </div>
        </div>
        <div class="pro_list">
            <div class="pro_items cartBtn1" data-pro="items">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_011.jpg}">
                <!--<img src="img/product_search/pro_01.jpg" alt="" />-->
                <p class="pro_title">
                    7日
                </p>
                <p class="pro_price">
                    &yen; 6199
                </p>

            </div>
            <div class="pro_items cartBtn2" data-pro="items">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_012.jpg}">
                <p class="pro_title">
                    30日
                </p>
                <p class="pro_price">
                    &yen; 129
                </p>

            </div>
            <div class="pro_items cartBtn3" data-pro="items">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_013.jpg}">
                <p class="pro_title">
                    90日
                </p>
                <p class="pro_price">
                    &yen; 64
                </p>

            </div>
            <div class="pro_items cartBtn4" data-pro="items ">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_014.jpg}">
                <p class="pro_title">
                    180日
                </p>
                <p class="pro_price">
                    &yen; 69
                </p>

            </div>
            <div class="pro_items cartBtn5" data-pro="items">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_015.jpg}">
                <p class="pro_title">
                    一年
                </p>
                <p class="pro_price">
                    &yen; 599
                </p>

            </div>
            <div class="pro_items cartBtn6" data-pro="items">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_016.jpg}">
                <p class="pro_title">
                    三年
                </p>
                <p class="pro_price">
                    &yen; 5599
                </p>

            </div>
            <div class="pro_items cartBtn7" data-pro="items">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_017.jpg}">
                <p class="pro_title">
                    五年
                </p>
                <p class="pro_price">
                    &yen; 289
                </p>
            </div>
            <div class="pro_items" data-pro="items">
                <div class="action_icon" data-pro="icon">
                    <span class="pro_like" data-icon="like"></span>
                    <span class="pro_cart" data-icon="cart"></span>
                </div>
                <img data-th-src="@{/img/product_search/pro_018.jpg}">
                <p class="pro_title">
                    更多产品
                </p>
                <!--<p class="pro_price">-->
                    <!--&yen; 399-->
                <!--</p>-->
            </div>
        </div>
        <div class="page_number">
            <ul class="page_list" data-page="list">
                <li data-page="prev"></li>
                <li class="pno_active">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li data-page="next"></li>
            </ul>
        </div>
    </div>
    <div data-th-include="front/footer" id="footer"></div>
</div>
<script data-th-src="@{/js/jquery-3.2.1.js}"></script>
<script data-th-src="@{/js/header.js}"></script>
<script data-th-src="@{/js/base.js}"></script>
<script data-th-src="@{/js/product_search.js}"></script>
<script>
    $('.cartBtn1').click(function () {
        setTimeout("location.href='/front/itme1'",1000)
        // location = 'lists/itme1.html';
    });
    $('.cartBtn2').click(function () {
        // location = 'lists/itme2.html';
        setTimeout("location.href='/front/itme2'",1000)

    });
    $('.cartBtn3').click(function () {
        // location = 'lists/itme3.html';
        setTimeout("location.href='/front/itme3'",1000)

    });
    $('.cartBtn4').click(function () {
        // location = 'lists/itme4.html';
        setTimeout("location.href='/front/itme4'",1000)

    });
    $('.cartBtn5').click(function () {
        // location = 'lists/itme5.html';
        setTimeout("location.href='/front/itme5'",1000)

    });
    $('.cartBtn6').click(function () {
        // location = 'lists/itme6.html';
        setTimeout("location.href='/front/itme6'",1000)
    });
    $('.cartBtn7').click(function () {
        // location = 'lists/itme7.html';
        setTimeout("location.href='/front/itme7'",1000)
    });

</script>

</body>

</html>