@charset "utf-8";
#container{
    width:1360px;
    position:relative;
    background:#fff;
    padding-top:20px;
}
#container .loc{
    width:1260px;
    line-height:50px;
    margin:0 50px;
    padding-left:30px;
    box-sizing:border-box;
    border-bottom:1px solid #ddd;
}
#container .loc>span{
    font-size:14px;
    color:#555;
}
#container .order{
    width:1260px;
    line-height:50px;
    margin:30px 50px 10px 50px;
}
#container .order .order_items{
    width:440px;
    line-height:50px;
    float:left;
}
#container .order .order_items>span{
    display:inline-block;
    width:110px;
    line-height:24px;
    text-align:center;
    font-size:15px;
    border-right:1px solid #ddd;
    box-sizing:border-box;
    transition:color .1s linear;
    cursor:pointer;
}
#container .order .order_items>span:hover{
    color: #1799d9;
}
#container .order .order_items>span:nth-child(4){
    border:none;
}
#container .order .order_items .order_bg{
    color:#0aa1ed;
}
#container .order .order_items .default{
    background:url(../img/product_search/order_default.png) no-repeat 80% center;
}
#container .order .order_items .asc{
    background:url(../img/product_search/order_asc.png) no-repeat 80% center;
    color:#0aa1ed;
}
#container .order .order_items .desc{
    background:url(../img/product_search/order_desc.png) no-repeat 80% center;
    color:#0aa1ed;
}
#container .order .isShow_pro{
    width:180px;
    float:left;
    margin-left:50px;
    line-height:50px;
}
#container .order .pro_count{
    width:180px;
    height:50px;
    float:right;
    text-align:center;
    color:#555;
    font-size:15px;
}
#container .order .isShow_pro .show_lable{
    display:block;
    float:left;
    width:110px;
    font-size:16px;
    cursor:pointer;
    color:#666;
}
#container .order .isShow_pro .on_off{
    display:block;
    width:50px;
    height:22px;
    float:left;
    margin-top:14px;
    background: #bbb;
    box-sizing:border-box;
    border-radius:28px;
    padding:2px;
    transition:all .1s linear;
}
#container .order .isShow_pro .on{
    background: #209add;
}
#container .order .isShow_pro .on_off .show_icon{
    display:block;
    float:left;
    margin-left:0;
    width:18px;
    height:18px;
    box-sizing:border-box;
    border-radius:50%;
    background:#fff;
    transition:all .15s linear;
}
#container .order .isShow_pro .on .show_icon{
    margin-left:28px;
}

#container .pro_list{
    display:flex;
    flex-wrap:wrap;
    justify-content:left;
    width:1360px;
    box-sizing:border-box;
    padding:10px 75px 0 75px;
    background:#f5f5f5;
}
#container .pro_list .pro_items{
    width:280px;
    height:370px;
    background:#fff;
    margin:10px 11px;
    cursor:pointer;
    transition:all .4s linear;
    position:relative;
}
#container .pro_list .pro_items:hover{
    box-shadow:0 2px 30px 5px #ccc;
}
#container .pro_list .pro_items>img{
    width:200px;
    height:210px;
    margin:40px 40px 20px 40px;
}
#container .pro_list .pro_items .pro_title{
    width:280px;
    line-height:30px;
    text-align:center;
    font-size:14px;
    color:#444;
}
#container .pro_list .pro_items .pro_price{
    width:280px;
    line-height:50px;
    text-align:center;
    color: #3baae9;
}
#container .pro_list .pro_items .action_icon{
    display:none;
    width:250px;
    height:40px;
    position:absolute;
    top:12px;
    left:15px;
}
#container .pro_list .pro_items .action_icon>span{
    display:block;
    width:50px;
    height:40px;
}
#container .pro_list .pro_items .action_icon .pro_like{
    float:left;
    background:url(../img/product_search/like.png) no-repeat center center;
}
#container .pro_list .pro_items .action_icon .pro_like_show:after{
    content: "收藏";
    display:inline-block;
    width:30px;
    line-height:40px;
    font-size:12px;
    margin-left:50px;
    color:#333;
}
#container .pro_list .pro_items .action_icon .pro_cart{
    float:right;
    background:url(../img/product_search/cart.png) no-repeat center center;
}
#container .pro_list .pro_items .action_icon .pro_cart_show:after{
    content: "加入购物车";
    display:inline-block;
    width:80px;
    line-height:40px;
    font-size:12px;
    margin-left:-60px;
    color:#333;
}

#container .page_number{
    width:1360px;
    height:50px;
    padding-top:20px;
    background: #f5f5f5;
}
#container .page_number .page_list{
    width:388px;
    height:30px;
    margin:0 auto;
}
#container .page_number .page_list>li{
    width:24px;
    line-height:26px;
    float:left;
    padding:2px 14px;
    margin:0 6px;
    font-size:18px;
    color:#777;
    border-radius:2px;
    text-align:center;
    cursor:pointer;
    transition:background .2s linear;
}
#container .page_number .page_list li:first-child{
    width:26px;
    font-size:26px;
    height:30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(../img/product_search/arrow_lf.png);
}
#container .page_number .page_list li:last-child{
    width:26px;
    font-size:26px;
    height:30px;
    background-position: center;
    background-repeat: no-repeat;
    background-image:url(../img/product_search/arrow_rg.png);
}
#container .page_number .page_list .pno_hover{
    background-color:#94d2e5;
    color:#fff;
}
#container .page_number .page_list .pno_active{
    background: #38a3dd;
    color:#fff;
}